# MCA Analysis on Automobile Dataset 

This notebook aims to apply Multiple Correspondence Analysis (EDA) to know better [Automobile Dataset](https://www.kaggle.com/datasets/toramky/automobile-dataset/) - categorical variables - and to infer characteristics of the data which will be used into AI model construction and training. Here we select MCA since we have multiple categorical variables.

The MCA represents categorical variable as points in multidimensional space such that we catch the maximum amount of variation.

We use the MCA for the following aims:

 1 evaluate interrelations of the cars according to attribute categorical values 
 
 2 evaluate the importance of the categorical attributes of the cars

Install/import python packages, set additional notebook rules and define useful constants:

In [13]:

!pip install prince

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: prince in /home/vlad/.local/lib/python3.10/site-packages (0.12.1)
Requirement already satisfied: altair<6.0.0,>=4.2.2 in /home/vlad/.local/lib/python3.10/site-packages (from prince) (5.1.1)
Requirement already satisfied: pandas<3.0.0,>=1.4.1 in /home/vlad/.local/lib/python3.10/site-packages (from prince) (2.0.1)
Requirement already satisfied: scikit-learn<2.0.0,>=1.0.2 in /home/vlad/.local/lib/python3.10/site-packages (from prince) (1.2.2)
Requirement already satisfied: jinja2 in /home/vlad/.local/lib/python3.10/site-packages (from altair<6.0.0,>=4.2.2->prince) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /usr/lib/python3/dist-packages (from altair<6.0.0,>=4.2.2->prince) (3.2.0)
Requirement already satisfied: numpy in /home/vlad/.local/lib/python3.10/site-packages (from altair<6.0.0,>=4.2.2->prince) (1.23.5)
Requirement already satisfied: packaging in /home/vlad/.local/lib/python3.10/site-packages (from altair<6.0.0,>=4.2.2->prince) (23.1)
Requirement already satisfied: toolz in /home/vlad/.local/lib/python3.10/site-packages (from altair<6.0.0,>=4.2.2->prince) (0.12.0)
Requirement already satisfied: typing-extensions>=4.0.1 in /home/vlad/.local/lib/python3.10/site-packages (from altair<6.0.0,>=4.2.2->prince) (4.5.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vlad/.local/lib/python3.10/site-packages (from pandas<3.0.0,>=1.4.1->prince) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/vlad/.local/lib/python3.10/site-packages (from pandas<3.0.0,>=1.4.1->prince) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/vlad/.local/lib/python3.10/site-packages (from pandas<3.0.0,>=1.4.1->prince) (2023.3)
Requirement already satisfied: scipy>=1.3.2 in /home/vlad/.local/lib/python3.10/site-packages (from scikit-learn<2.0.0,>=1.0.2->prince) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /home/vlad/.local/lib/python3.10/site-packages (from scikit-learn<2.0.0,>=1.0.2->prince) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/vlad/.local/lib/python3.10/site-packages (from scikit-learn<2.0.0,>=1.0.2->prince) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=1.4.1->prince) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/vlad/.local/lib/python3.10/site-packages (from jinja2->altair<6.0.0,>=4.2.2->prince) (2.1.2)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import matplotlib.pyplot as plt

import numpy as np
import os 
import pandas as pd 
import prince
import seaborn as sns
from sklearn.feature_selection import SelectKBest, chi2 # for chi-squared feature selection
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

from ydata_profiling import profile_report

In [3]:
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)

In [4]:
PROJECT_PATHNAME = globals()['_dh'][1].resolve().parents[0]
FILE_PATHNAME = os.path.join(PROJECT_PATHNAME, 'data/Automobile_data.csv')

Open data file, sample first rows, set '?' elements to 0

In [5]:
df =  pd.read_csv(FILE_PATHNAME)

In [6]:
df.head(5)

   symboling normalized-losses         make fuel-type aspiration num-of-doors   body-style drive-wheels engine-location  wheel-base  length  width  height  curb-weight engine-type num-of-cylinders  engine-size fuel-system  bore stroke  compression-ratio horsepower peak-rpm  city-mpg  highway-mpg  price
0          3                 ?  alfa-romero       gas        std          two  convertible          rwd           front        88.6   168.8   64.1    48.8         2548        dohc             four          130        mpfi  3.47   2.68                9.0        111     5000        21           27  13495
1          3                 ?  alfa-romero       gas        std          two  convertible          rwd           front        88.6   168.8   64.1    48.8         2548        dohc             four          130        mpfi  3.47   2.68                9.0        111     5000        21           27  16500
2          1                 ?  alfa-romero       gas        std          two    hatchback          rwd           front        94.5   171.2   65.5    52.4         2823        ohcv              six          152        mpfi  2.68   3.47                9.0        154     5000        19           26  16500
3          2               164         audi       gas        std         four        sedan          fwd           front        99.8   176.6   66.2    54.3         2337         ohc             four          109        mpfi  3.19    3.4               10.0        102     5500        24           30  13950
4          2               164         audi       gas        std         four        sedan          4wd           front        99.4   176.6   66.4    54.3         2824         ohc             five          136        mpfi  3.19    3.4                8.0        115     5500        18           22  17450

In [7]:
df = df.replace(to_replace='?',value=0)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

Define categorical attributes of automobile data, print out category data and all category feature values :

In [9]:
quant_attr = ["symboling", "normalized-losses", "wheel-base", "length", "width", "height", "curb-weight", "engine-size", "bore", "stroke", "compression-ratio",
              "horsepower", "peak-rpm", "city-mpg", "highway-mpg", "price"]
cat_attr = ["make", "fuel-type", "aspiration", "num-of-doors", "body-style", "drive-wheels", "engine-location", "engine-type", "num-of-cylinders", "fuel-system"]

In [10]:
df[cat_attr].head(5)

          make fuel-type aspiration num-of-doors   body-style drive-wheels engine-location engine-type num-of-cylinders fuel-system
0  alfa-romero       gas        std          two  convertible          rwd           front        dohc             four        mpfi
1  alfa-romero       gas        std          two  convertible          rwd           front        dohc             four        mpfi
2  alfa-romero       gas        std          two    hatchback          rwd           front        ohcv              six        mpfi
3         audi       gas        std         four        sedan          fwd           front         ohc             four        mpfi
4         audi       gas        std         four        sedan          4wd           front         ohc             five        mpfi

In [11]:

# See what categories there are in each categorical feature
for col in cat_attr:
    print (col, df[col].unique())

make ['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']
fuel-type ['gas' 'diesel']
aspiration ['std' 'turbo']
num-of-doors ['two' 'four' 0]
body-style ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
drive-wheels ['rwd' 'fwd' '4wd']
engine-location ['front' 'rear']
engine-type ['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
num-of-cylinders ['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']
fuel-system ['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']

#### 1. Evaluate interrelations of the cars according to attribute categorical values

In [12]:
# instantiate MCA class
mca = prince.MCA(n_components = 2)

# get principal components
mca = mca.fit(df[cat_attr])